<!DOCTYPE html>
<html lang="en" ng-app="sharinglibrary">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Colibrary</title>

    <!-- Core CSS - Include with every page -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Blank -->

    <!-- SB Admin CSS - Include with every page -->
    <link href="assets/sb-admin.css" rel="stylesheet">

</head>

<body ng-controller="MainCtrl">

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Colibrary</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Amy Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Thanks for lending me your hair blower! It was great</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Tyler White</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>I hope you enjoyed the DVD. It is my favorite</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Calvin Johnson</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Hey, let's meet up sometime</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Loan Requested
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search..." ng-model="query" ng-change="search()">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="search()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>

                        <li>
                            <a href="#/dashboard"><i class="fa fa-book fa-fw"></i> Browse</a>
                        </li>
                        <li>
                            <a href="#/library"><i class="fa fa-th-large fa-fw"></i> Your Library</a>
                        </li>
                        <li>
                            <a href="#/checkout"><i class="fa fa-share-square fa-fw"></i> Checkout</a>
                        </li>
                        <li>
                            <a href="#/dashboard"><i class="fa fa-arrows fa-fw"></i> Around You</a>
                        </li>

                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div ui-view></div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script type="text/ng-template" id="additem.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Item</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Title" ng-model="$parent.title">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Description" ng-model="$parent.description">
            </div>
            <div class="form-group">
                <input class="form-control" type="file">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <!-- Core Scripts - Include with every page -->

    <%= javascript_include_tag "jquery_1.10.2", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/metisMenu/jquery.metisMenu", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "angular/angular.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "angular-ui-router/release/angular-ui-router.min", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "angular-bootstrap/ui-bootstrap-tpls.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "chance/chance", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "lodash/dist/lodash.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/metisMenu/jquery.metisMenu", "data-turbolinks-track" => true %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLXHKhGbXJQVB3Y6Mwh9hvIQLQ5M1fT2E">
    <%= javascript_include_tag "angular-google-maps/dist/angular-google-maps.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "app", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "controller", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "service" , "data-turbolinks-track" => true %>
    </script>

    <!-- Page-Level Plugin Scripts - Blank -->

    <!-- SB Admin Scripts - Include with every page -->
    <%= javascript_include_tag "sb-admin", "data-turbolinks-track" => true %>

    <!-- Page-Level Demo Scripts - Blank - Use for reference -->

</body>

</html>
